<h1>Delete this Contact?</h1>

<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Notes:</strong></p>
<p><%= @contact.notes %></p>

<form action="/contacts/<%= @contact.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Yes, please permanently delete this contact">
</form>

<a href="/contacts">Wait!  I regret this choice.  Don't delete!</a>
