<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>
<p><strong>Email:</strong> <%= @contact.email %></p>
<p><strong>Notes:</strong></p>
<p><%= @contact.notes %></p>

<a href="/contacts/<%=@contact.id%>/delete">Delete contact?</a>